@model Knjizara.ViewModels.KnjigaZanroviViewModel

@{
    Layout = "~/Views/Back-end/layout/back_end_layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/SearchPost.js"></script>

<link rel="stylesheet" type="text/css" href="~/Css/BtnCreate.css">
<link rel="stylesheet" type="text/css" href="~/Css/Paging.css">

<h2>Knjige</h2>

@using (Html.BeginForm("Index", "Knjige", FormMethod.Get))
{
    <p style="display: flex">
        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Pretraga" })
        <button type="submit" class="input-group-addon form-control" style="background-color: blue; color: white; width: 40px; height: 34px;"><i class="fa fa-search"></i></button>
    </p>
}
<br>
<p>
    @Html.ActionLink("Kreiraj knjigu", "Create", null, new { @class = "btn btn-success pull-right", id = "btnCreate" })
</p>
<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Slika
            </th>
            <th>
                Opis
            </th>
            <th>
                Cena
            </th>
            <th>
                Autor
            </th>
            <th>
                Zanrovi
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.KnjigeSaZanrovima)
    {
        <tbody id="myTable">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.knjiga.naziv).ToString().ToUpper()
                </td>
                <td>
                    <img src="~/Images/@item.knjiga.slika" width="100" height="150" /><br>
                    @Html.DisplayFor(modelItem => item.knjiga.slika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knjiga.opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knjiga.cena) RSD
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knjiga.Autori.ime)
                </td>
                <td>
                    @{
                        List<string> zanroviStringList = new List<string>();
                        item.zanrovi.ForEach(z => zanroviStringList.Add(z.vrsta));
                        string zanrovi = string.Join(", ", zanroviStringList);
                    }
                    @Html.DisplayFor(modelItem => zanrovi)
                </td>
                <td class="col-lg-1">
                    @Html.ActionLink("Izmeni", "Edit", new { id = item.knjiga.id_knjige }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Obrisi", "Delete", new { id = item.knjiga.id_knjige }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        </tbody>
    }
</table>

<ul class="pagination paging">
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    </li>

    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="page-item">
            @if (i != Model.CurrentPageIndex)
            {
                @Html.ActionLink(i.ToString(), "Index", "Knjige", new { currentPage = i, @class = "page-link" }, null)
            }
            else
            {
                <span id="aktivna">@i</span>
            }
        </li>
    }
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </li>
</ul>

<script>
    var aktivna = document.getElementById("aktivna");

    if (aktivna != @Model.CurrentPageIndex) {
        aktivna.style.background = "blue";
        aktivna.style.color = "white";
    }
</script>

