@model Knjizara.ViewModels.AdminNarudzbinaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Back-end/layout/back_end_layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Css/Paging.css">

<h2>Narudzbine</h2>

<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Korisnik
            </th>
            <th>
                Datum narucivanja
            </th>
            <th>
                Knjige
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.narudzbine)
    {
        <tbody id="myTable">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Narucilac.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumNarucivanja)
                </td>
                <td>
                    @foreach (var knjiga in item.Narudzbenice)
                    {
                        <ul>
                            <li>
                                @Html.DisplayFor(modelItem => knjiga.Naziv).ToString().ToUpper(),
                                @Html.DisplayFor(modelItem => knjiga.Cena) RSD,
                                @Html.DisplayFor(modelItem => knjiga.Kolicina) kom, <br>
                                Cena:
                                @(String.Format("{0:N0}", knjiga.Cena * knjiga.Kolicina)) RSD
                            </li>
                        </ul>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="col-lg-1">
                    @Html.ActionLink("Uredi", "Edit", new { id = item.IDNarudzbine }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        </tbody>
    }

</table>

<ul class="pagination paging">
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    </li>
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="page-item">
            @if (i != Model.CurrentPageIndex)
            {
                @Html.ActionLink(i.ToString(), "Index", "AdminNarudzbina", new { currentPage = i, @class = "page-link" }, null)
            }
            else
            {
                <span id="aktivna">@i</span>
            }
        </li>
    }
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" "><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </li>
</ul>

<script>
    var aktivna = document.getElementById("aktivna");

    if (aktivna != @Model.CurrentPageIndex) {
        aktivna.style.background = "blue";
        aktivna.style.color = "white";
    }
</script>