@model IEnumerable<Knjizara.Models.Korisnici>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Front-end/layout/front_end_layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Css/Users.css">

<h2>Profil</h2>
<div class="form-horizontal">
    <table class="table">
        <tr>
            <th>
                Ime:
            </th>
            <th>
                Prezime:
            </th>
            <th>
                Telefon:
            </th>
            <th>
                Email:
            </th>
            <th>
                Korisnicko ime:
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @Session["ime"]
            </td>
            <td>
                @Session["prezime"]
            </td>
            <td>
                @Session["telefon"]
            </td>
            <td>
                @Session["email"]
            </td>
            <td>
                @Session["korisnicko_ime"]
            </td>

            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = Model.FirstOrDefault().id_osoba }, new { @class = "btn btn-primary" })
            </td>

        </tr>

    </table>
    </div>
